body {
font-family: Arial;
background-color: #f4f4f4;
text-align: center;
}

form {
background: white;
padding: 20px;
width: 300px;
margin: auto;
border-radius: 5px;
}

input, button {
width: 100%;
padding: 10px;
margin-top: 10px;
}
